:root{
    --cor--principal: gold;
    --cor--secundaria: brown;
    --cor--background-botao: 

}

header div{
    background-color: var(--cor--principal);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

nav{
    gap: 30px;
    display: flex;
}

.diagonal-border {
    position: relative;
    text-decoration: none;
  }  
.diagonal-border::before {
    left: 2px;
    top: -3px;
    width: 102%;
    height: 140%;
    content: "";
    position: absolute;
    border-left: 2px solid #2d2d2d;
    transform: skew(-20deg);
    transform-origin: top left;
    transition: width 3s ease;
    background-color: none;
    -webkit-transition: background-color 2s ease-out;
    -moz-transition: background-color 2s ease-out;
    -o-transition: background-color 2s ease-out;
    transition: background-color 2s ease-out;
   }
  
.diagonal-border:hover::before {
    background: #ff0101;
    width: 102%;
  }
nav span{
    margin: 0 15px;
    color: var(--cor--secundaria)
}
.diagonal-border:hover span {
    color: white; /* Altere para a cor desejada */
  }

nav span:last-child {
    left: -15px;
}
  
  