@import url(./cabecalho.css);
@import url(./reset.css);
@import url(./rodape.css);
@import url(./fonts.css);
@import url(./main.css);

:root{
    --cor--principal: #ffd100;
    --cor--secundaria: #FF1B0D;
    --cor--principal--footer: #0DFF62;
    --cor--secundaria--footer:#55B276;
}



